 <div class="col-xs-3">
    <div class="thumbnail">
      <%= link_to listing_path(listing) do %>
      <%= image_tag "jacket.jpg", class: "img-responsive" %>
      <% end %>
      <div class="caption">
       <p><strong><%= link_to listing.name, listing_path(listing) %></strong><p>
       <p>$<%= listing.price.to_f %></p>    
       </div>
      </div>
     </div>

